@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
body,html{
    color: black;
    width: 100%;
    font-family:sans-serif;
}
.mainimg{
    background-image: url(back.png);
    height: 650px;
    width: 100%;
}
.navbar-nav{
    justify-content: space-between;
}
.nav-item{
    margin-left: 2rem;
}
.navbar a:hover{
    color: #fddb3a;
}
.crimg{
    width: 100%;
}
#carouselExample .carousel-control-prev-icon{
    position: absolute;
    bottom: -50px;
    background-color: #2c3d75;
}
#carouselExample .carousel-control-next-icon{
    position: absolute;
    bottom: -50px;
    background-color: #2c3d75;
}
.button1{
    background-color: #2c3d75;
    height: 40px;
    width: 130px;
    color: white;
    font-size: 13px;
}
.button1:hover{
    background-color:#ffffff;
    height: 40px;
    width: 130px;
    color: #2c3d75;
    font-size: 13px;
}
h5{
    color: #666666;
}
.para{
    font-size: 13px;
}
.card{
    border: none;
    border-radius: 0px;
    padding: 5px;

}
.card-img-overlay{
    display: flex;
    position: relative;
    margin-top: -70px;
    gap: 10px;
    background-color: black;
    opacity: 0.7;
    color: white;
    align-items: center;
    font-size: 2px;
}
.service{
    background-color:#edecec;
    width: 100%;
}
.card1{
    padding: 7px;
    display: flex;
    justify-content: center;
}
#carouselExample2 .card-body{
    display: flex;
}
#carouselExample2 img{
    height: max-content;
    padding-right: 20px;
}
#carouselExample2 .carousel-control-prev-icon{
    filter: invert(1);
    margin-left: -230px;
}
#carouselExample2 .carousel-control-next-icon{
    filter: invert(1);
    margin-right: -230px;
}
.button2{
    background-color:#ffffff;
    height: 40px;
    width: 130px;
    color: #2c3d75;
    font-size: 13px;
    border:2px solid #2c3d75;
}
.button2:hover{
    background-color:#2c3d75;
    height: 40px;
    width: 130px;
    color: #ffffff;
    font-size: 13px;
    border:2px solid #edecec ;
}
#About .col-6{
    display: flex;
    justify-content: end;
    margin-left: 50px;
}
.Client{
    background-color:#edecec;
    width: 100%;
}
#carouselExample3 .carousel-control-prev-icon{
    filter: invert(1);
    margin-left: -300px;
}
#carouselExample3 .carousel-control-next-icon{
    filter: invert(1);
    margin-right: -200px;
}
#carouselExample3 .card{
    background-color:#edecec;
}
#carouselExample3 img{
    background-color:#edecec;
    height: 70px;
    width: 100px;
}
iframe{
    height: 540px;
    box-shadow: 5px 10px 8px #888888;
}
input{
    height: 50px;
}
.captcha{
    height: 50px;
}
.button3{
    background-color: #2c3d75;
    height: 40px;
    width: 155px;
    color: white;
    font-size: 13px;
}
.button3:hover{
    background-color:#edecec;
    height: 40px;
    width: 155px;
    color: #2c3d75;
    font-size: 13px;
}
.input-group-text i{
    color: #2c3d75;
}
footer{
    background-color: #222222;
    text-align: center;
}
.icon{
    display: flex;
}
#footerEnd .col-md-3{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #4c4b4b;
    border-bottom: 1px solid #4c4b4b;
}
#footerEnd .col-md-4{
    display: flex;
    align-items: center;
    justify-content: center;
    border-right:1px solid #4c4b4b;
    border-bottom: 1px solid #4c4b4b;
}
#footerEnd .col-md-5{
    border-bottom: 1px solid #4c4b4b;
}
#footerEnd i{
    color: #fddb3a;
    padding: 5px 20px 0px 0px;
    text-decoration: none;
}
#footerEnd .line{
    border-right: 2px solid  #4c4b4b ;
    padding: 5px; 
}
#footerEnd .line::after{
    content:"";
    padding-left: 10px;
}
#footerEnd a{
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
}
#footerEnd a:hover{
    color: #fddb3a;
}
#footerEnd p{
    font-size: 15px;
    color: #ffffff;
}
@media(max-width:1400px){
    iframe{
        width: 500px;
    }
}
@media only screen and (max-width:1200px){
    #chs .card-title{
        font-size: 13px;
    }
    .mainimg{
        height:550px;
    }
    #chi img{
        height:50px;
        width:65px;
    }
    iframe{
        width:100%;
    }
    #carouselExample2 .carousel-control-prev-icon{
        margin-left: -200px;
    }
    #carouselExample2 .carousel-control-next-icon{
        margin-right: -200px;
    }
    #carouselExample3 .carousel-control-prev-icon{
        margin-left: -250px;
    }
    #carouselExample3 .carousel-control-next-icon{
        margin-right: -250px;
    }
}
@media only screen and (max-width:1048px){
    #carouselExample2 .carousel-control-prev-icon{
        display: none;
    }
    #carouselExample2 .carousel-control-next-icon{
        display: none;
    }
    #carouselExample3 .carousel-control-prev-icon{
        display: none;
    }
    #carouselExample3 .carousel-control-next-icon{
        display: none;
    }
}
@media only screen and (max-width:768px){
    #carouselExample .carousel-control-prev-icon{
        display: none;
    }
    #carouselExample .carousel-control-next-icon{
        display: none;
    }
    .mainimg{
        height: 600px;
    }
    .crimg{
        height:200px;
        width: 300px;
    }
    #footerEnd .line{
        border:unset;
    }
    #footerEnd .col-md-3{
        display: block;
        border:unset;
    }
    #footerEnd .col-md-4{
        display: block;
        border:unset;
    }
    #footerEnd .col-md-5{
        border:unset;
    }
    #bd{
        border-bottom: 1px solid #4c4b4b;  
    }
}
@media only screen and (max-width:576px){
    .mainimg{
        height: 650px;
    }
    .crimg{
        height:150px;
        width: 230px;
    }
    #simg{
        height: 300px;
        width: 300px;
    }
}
@media only screen and (max-width:576px){
    .mainimg{
        height: 650px;
    }
    .crimg{
        height:150px;
        width: 230px;
    }
    #simg{
        height: 200px;
        width: 200px;
    }
    iframe{
        height: 400px;
    }
    .logo{   
        width: 80px;
    }
}